# iOS
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
ios/icon-options/
ios/generate-icons*.py

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
ios/TwentyFourDefend.xcodeproj/
aws.sh
ml/.venv/
